* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: rgb(var(--foreground-rgb));
}

.container {
    max-width: 83.375rem;
    margin: 0 auto;
}
.img {
    z-index: 20;
    ;
    width: 19.8125rem;
    height: 37.1875rem;
    flex-shrink: 0;
}