.header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 1.88rem 0 0 0;
}
.container {
    max-width: 83.375rem;
    margin: 0 auto;
    /* height: 3.125rem; */
    display: flex;
    align-items: center;
    position: relative;
}
.logo {
    width: 8.5rem;
    height: 3.4375rem;
}
.nav {
    display: flex;
    width: 38.5625rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 11.37rem;
}
.nav a {
    color: var(--SECONDARY, #010A1A);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}